.photo-of-the-day {
    display:flex;
    flex-direction: column;
    align-content: center;
    border: 1px  solid black;
    width: 800px;
    justify-content: center;

}

img {
    margin-left: 25%;
    
}

.bottom {
    display:flex;
    flex-direction: column;
    align-content: center;
}